List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

#List
'''Lists are used to store multiple items in a single variable.
◉ Lists are one of 4 built-in data types in Python used to store collections of data, the
other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
◉ A list is a container which holds comma-separated values (items or elements)
between square brackets.
◉ Lists need not be homogeneous always which makes it a most powerful tool
in Python.
◉ A single list may contain Data types like Integers, Strings, as well as Objects. Lists
are mutable, and hence, they can be altered even after their creation.
Simple access like array and string
List allow duplicate values'''
pop=pop use for to remove item based on index in list.
slicing=slicing use for to extract item based on index.[start:end],[start:end:interval]
add items to the list
1 append = after complete list data
2 insert = insert(index,item)
remove items
1) either using known value in the list
2) using particular index of the list
Three methods
1) remove - used with value as inpute
2) pop - will remove last element, using index
3) del - removing elements from specified index

In [ ]:
list1=['abc',1,2,3,'a',3.6,3.6]
print(list1)
# assigning values
print(list1)
list1[0]="xyz" # list is mutable
#Reassigning a few elements: You can also reassign a slice of a list in Python.
list1[2:]=['bronze','silver']
print(list1)

['abc', 1, 2, 3, 'a', 3.6, 3.6]
['abc', 1, 2, 3, 'a', 3.6, 3.6]
['xyz', 1, 'bronze', 'silver']

In [ ]:
print(list1)
print(list1[ : ])
print(list1[1:5]) # slice from start to end-1
print(list1[ :4])
print(list1[ 2:])
print(list1[-4:-1])

['xyz', 1, 'bronze', 'silver']
['xyz', 1, 'bronze', 'silver']
[1, 'bronze', 'silver']
['xyz', 1, 'bronze', 'silver']
['bronze', 'silver']
['xyz', 1, 'bronze']

In [ ]:
#change range of items
list1=['abc',1,2,3,'a','python',3.6]
print(list1)
list1[2:2]=["x","y","z","w"]
print(list1)

['abc', 1, 2, 3, 'a', 'python', 3.6]
['abc', 1, 'x', 'y', 'z', 'w', 2, 3, 'a', 'python', 3.6]

In [ ]:
#Iterating Through a List
#loop through a list for item x in the list
list1=['a','b','c']
print(list1)
for y in list1:
  print(y)

['a', 'b', 'c']
a
b
c

In [ ]:
print(list1)
list1.append("new")
print(list1)

['a', 'b', 'c', 'new', 'new']
['a', 'b', 'c', 'new', 'new', 'new']

In [ ]:
# nested list
#A list can also have another list as an item. This is called a nested list.

list5 = ["xyz", [8, 4, 6], ['a']]
print(list5)
print(list5[1])
print(list5[1][2])

['xyz', [8, 4, 6], ['a']]
[8, 4, 6]
6

In [ ]:
#multidimensional list
a=[[[1,2],[3,4],5],[6,7]]
print(a)
print(a[0][1][1])

[[[1, 2], [3, 4], 5], [6, 7]]
4

In [ ]:
#sort
b=[1,3,4,6,2,8,8,9]
print(b)
b.sort()
print(b)
b.sort(reverse=True)
print(b)

[1, 3, 4, 6, 2, 8, 8, 9]
[1, 2, 3, 4, 6, 8, 8, 9]
[9, 8, 8, 6, 4, 3, 2, 1]

#sets
* SETs are used when we are not concerned about ordering of elements
* not concerned about index and item arrangements
* SET is inordered, unindexed pair
* SETs are unchangeable and do not allow duplicate values
* sets are unchangable but we can add and remove element fro set
* can't access items using index
* Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc
* A set is created by placing all the items (elements) inside curly braces {}, separated by comma, or by using the built-in set() function.
* Set  can have immutable elements and any number of items and they may be of different ty
* pes (integer, float, tuple, string etc.).
* But a set cannot have mutable elements like lists, sets  or dictionaries as its elements

In [ ]:
# to access single elemnet of set , set is converted in to list
set1 = {"python","java","php","java"}
print(set1)
print(set1)
z=list(set1)
print(z[0])

{'java', 'python', 'php'}
{'java', 'python', 'php'}
java

In [ ]:
#Access element of set using iter and next keyword
set1 = {1, 2, 3, 4, 5}

x = next(iter(set1))
#prints first item
print(x)

1

In [ ]:
set={1,3}
set.add(4)
print(set)

{1, 3, 4}

In [ ]:
set.update([2,6])
print(set)
set.update({7,8})
print(set)

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 7, 8}

In [ ]:
set.discard(7)
print(set)

{1, 2, 3, 4, 6, 8}

In [ ]:
set.remove(3)
print(set)

{1, 2, 4, 6, 8}

In [ ]:
'''Other Python Set Methods
◉ There are many set methods, some of which we have already used above. Here is a list of all  the methods that are available with the set objects:

add()                         Adds an element to the set
clear()                       Removes all elements from the set
copy()                        Returns a copy of the set
difference()                  Returns the difference of two or more sets as a new set
difference_update()           Removes all elements of another set from this set
discard()                     Removes an element from the set if it is a member. (Do nothing if the element is not in set)
intersection()                Returns the intersection of two sets as a new set
intersection_update()         Updates the set with the intersection of itself and another Sets
isdisjoint()                  Returns True if two sets have a null intersection
issubset()                    Returns True if another set contains this set
issuperset()                  Returns True if this set contains another set
pop()                         Removes and returns an arbitrary set element. Raises KeyError if the set is empty
remove()                      Removes an element from the set. If the element is not a member, raises a KeyError
symmetric_difference()        Returns the symmetric difference of two sets as a new set
symmetric_difference_update() Updates a set with the symmetric difference of itself and another
union()                       Returns the union of sets in a new set
update()                      Updates the set with the union of itself and other'''
'''
all()       Returns True if all elements of the set are true (or if the set is empty).
any()       Returns True if any element of the set is true. If the set is empty, returns False.
enumerate() Returns an enumerate object. It contains the index and value for all the items of the set as a pair.
len()       Returns the length (the number of items) in the set.
max()       Returns the largest item in the set.
min()       Returns the smallest item in the set.
sorted()    Returns a new sorted list from elements in the set(does not sort the set itself).
sum()       Returns the sum of all elements in the set.'''

#Tuples
* tuples use small brackets ()
* immutable
* used to store multile items in a single varible
* collection which is ordered and unchangeable
* tuple vs list
* List :- consumes more memory,dynamic in nature, access is slower
* uples:- consumes less memory, static in nature,access is faster

'''Tuples are used to store multiple items in a single variable.
◉ A tuple is a collection which is ordered and unchangeable i.e., immutable.
◉ Tuples are written with round brackets.
◉ Tuples are sequences, just like lists. The differences between tuples and lists are,
the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists
use square brackets.
◉ A tuple can have any number of items and they may be of different types (integer,
float, list, string, etc.).
◉ Creating a tuple is as simple as putting different comma-separated values.
Optionally you can put these comma-separated values between parentheses also...
Duplicates are allowed'''

#Dictionary
'''Python dictionary is an unordered collection of items. Each item of a dictionary has
a key/value pair.
Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:),
enclosed in curly braces {}.
Here we have a dictionary. Left side of the colon(:) is the key and right side of the :
is the value.
mydict = {'Name': ‘abc', 'Age': 27, 'City': ‘Vadodara'}
Dictionaries are optimized to retrieve values when the key is known.
◉ While the values can be of any data type and can repeat, keys must be of
immutable type (string, number or tuple with immutable elements) and must be
unique
'''
* Collection which is unordered, changeable and indexed.
* written in {}
* key : value pair
* can be accessed using index - key
* values can be duplicate but not keys

In [ ]:
#Changing and Adding Dictionary elements
#Dictionaries are mutable. We can add new items or change the value of existing items using an assignment operator.
# if the key is already present, then the existing value gets updated. In case the key is not present,
# a new (key: value) pair is added to the dictionary.
my_dict = {'name': 'abc', 'age': 27}
#update
my_dict['age']=30
print(my_dict)

{'name': 'abc', 'age': 30}

In [ ]:
#Add
my_dict['address']='vadodara'
print(my_dict)

{'name': 'abc', 'age': 30, 'address': 'vadodara'}

In [ ]:
#remove element
#We can remove a particular item in a dictionary by using the pop() method.
print(my_dict)
my_dict["address"]="vadodara"
my_dict[1]="xyz"
print(my_dict.pop('name'))
print(my_dict)

{'name': 'abc', 'age': 30, 'address': 'vadodara'}
abc
{'age': 30, 'address': 'vadodara', 1: 'xyz'}

In [ ]:
my_dict.clear()