#GET STARTED
there 4 types of built in data types in python
1. list=list is a collection which is orderd,changeble and allow duplicate members.
2. tuple=tuple is a collection which is orderd,unchangeble and allow duplicate members.
3. set=set is a collection which is unorders,unchangeble and dont allow duplicate members.
4. dictnories=dictnories is a collection which is orderd,changeble and no duplicate members.

In [ ]:
l1 = [11,'viraj',4,0.5,'don',33,33]
l1[0]=12
l1
# this is called list
# which is orederd,changeble,and allow duplicate members

[12, 'viraj', 4, 0.5, 'don', 33, 33]

In [ ]:
t1 = (11,'viraj',4,0.5,'don',33,33)
#t1[0]=11#give us error
l2=list(t1)
l2[0]=12
t2=tuple(l2)
t2
# this is called tuple
# tuple is orderd,unchangeble,and allow duplicate members
# and if you change something in tuple first you have to convert into list

(12, 'viraj', 4, 0.5, 'don', 33, 33)

In [ ]:
s1 = {11,23,4.4,'viraj','don'}
print(s1)
l3=list(s1)
l3[0]=12
print(l3)
# this is called set,which is unorders,unchangeble, and dont allow duplicate members
# and if you change something in set first you have to convert into list

{4.4, 23, 11, 'don', 'viraj'}
[12, 23, 11, 'don', 'viraj']

In [ ]:
# this is dictnories , which is orderd,changeble and no duplicate members.
d1={1:"viraj",2:3.5,3:"manali",4:66,5:0.4}
d1.update({1:"don"})
d1
# this is dictnories , which is orderd,changeble and no duplicate members.
# and if you want to update dictnories, you need to use keyword called update for it

{1: 'don', 2: 3.5, 3: 'manali', 4: 66, 5: 0.4}

# ARRAY
1. why we use array
- because if we want to store 500 variable we have create to 500 variables
and thats a lengthy process , so for that we will create array who can store more than one element of samedata type in a sequence order under one name.
2. types
there are 2 types of array
- one dimensional a[i]
- multi dimensional a[i][j],a[i][j][k]
3. we can create array with 2 method
- using array module
- using numoy module

In [ ]:
import array
#synatx [arrayname = fromarray.toarray('datatype',[arrayelement])]
arr = array.array('i',[1,2,3,4])
print(arr)
type(arr)

array('i', [1, 2, 3, 4])

array.array

In [ ]:
import numpy as np
arr = np.array([1,2,3,4])
print(arr)
type(arr)

[1 2 3 4]

numpy.ndarray

INSERT IN ARRAY
1. AT BEGINING
2. AT END
3. SPECIFIC LOCATION

In [ ]:
arr1 = array.array('i',[1,2,3,4])
arr2 = array.array('i',[1,2,3,4])
arr3 = array.array('i',[1,2,3,4])
#at begin
arr1.insert(0,6)
print(arr1)
#at specific location
arr2.insert(2,6)
print(arr2)
#at end
arr3.insert(4,6)
print(arr3)
#other elements shift towards right

array('i', [6, 1, 2, 3, 4])
array('i', [1, 2, 6, 3, 4])
array('i', [1, 2, 3, 4, 6])

TRAVERSE OF AN ARRAY

In [ ]:
my_array=np.array([1,2,3,4,5])
def traversearray(array):
  for i in my_array:
    print(i)

traversearray(my_array)

1
2
3
4
5

ACCESSING ARRAY

In [ ]:
my_array=np.array([1,2,3,4,5])
def accessarray(array,index):
  if index>len(array):
    print("there is not any element in this index")
  else:
    print(array[index])

accessarray(my_array,3)

4

SEARCHING ARRAY

In [ ]:
from ast import Index
my_array=np.array([1,2,3,4,5])
def search(array,element):
  for i in range(len(my_array)):
    if my_array[i]==element:
      return i
  return -1
print(search(my_array,5))

4