#LIST

In [ ]:
#accessing/traversing list
my_list=["viraj",15,97.3,"parmar",'D',0.7,100]
for i in my_list:
  print(i)
print(my_list[1])
print(my_list[-2])
print("parmar" in my_list)
m_list=["don","donv","donj"]
for i in range(len(m_list)):
  m_list[i]=m_list[i]+"+"
  print(m_list[i])

viraj
15
97.3
parmar
D
0.7
100
15
0.7
True
don+
donv+
donj+

In [ ]:
#update list
my_list[2]=98.7
print(my_list)

['viraj', 15, 98.7, 'parmar', 'D', 0.7, 100]

In [ ]:
#insert list
#list method 1.insert() 2.append() 3.extend()
my_list.insert(9,"hemat")
print(my_list)
my_list.append(45)
print(my_list)
my_list.extend([66,"bbb",55])
print(my_list)

['hemat', 'viraj', 15, 'hemat', 98.7, 'parmar', 'D', 0.7, 100, 'hemat', 'hemat', 'hemat', 'hemat', 45, 45]
['hemat', 'viraj', 15, 'hemat', 98.7, 'parmar', 'D', 0.7, 100, 'hemat', 'hemat', 'hemat', 'hemat', 45, 45, 45]
['hemat', 'viraj', 15, 'hemat', 98.7, 'parmar', 'D', 0.7, 100, 'hemat', 'hemat', 'hemat', 'hemat', 45, 45, 45, 66, 'bbb', 55]

In [ ]:
#slice
glist=['a','b','c','d','e','f']
glist[0:3]=['x','y','z']
print(glist)

['x', 'y', 'z', 'd', 'e', 'f']

In [ ]:
#delete
glist.pop(3)
print(glist)

del glist[0]
print(glist)

glist.remove('y')
print(glist)

['y', 'z']
['y', 'z']
['z']

In [ ]:
#search
slist=[10,20,30,40,50,60,70,80,90]
target = 55
if target in slist:
  print("target is in list")
else:
  print("target is not in list")

target is not in list

In [ ]:
age = 22
ptr = age
_age = ptr
print(_age)

print(id(age))
print(id(ptr))

print(age)
print(ptr)

22
134061641204624
134061641204624
22
22